<!DOCTYPE html>
<html>
<head>
  <title>Memes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
   <div class="navbar-header">


      <ul class="nav navbar-nav">
        <li class="active"><a href="/memes">Memes</a></li>
        <li ><%= link_to 'New Meme', new_meme_path %></li>
        <li>
          <% if user_signed_in? %>
              <li>
              <%= link_to('User Logout', destroy_user_session_path, :method => :delete) %>
              </li>
          <% else %>
              <li>
              <%= link_to('User Login', new_user_session_path)  %>
              </li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class= "container">

  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  
  <%= yield %>

</div>

<footer>
  <div class="container">
    Iron Yard ROR 2014
  </div>
</footer>

</body>
</html>
